h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.flex {
  display:flex;
  align-items:center;
  justify-content:center;
}

.flex-left {
  display:flex;
  align-items:center;
  justify-content:flex-start;
}
