<div class="container">

  <!-- CURRENT GAMES -->

  <h2 class="header {{model.colors.navbar_background_as_text}}">Current games</h2>
  <ul *ngIf="games" materialize="collapsible" class="collapsible popout" style="margin-bottom:50px" data-collapsible="accordion">
    <li *ngFor="let game of currentGames">

      <div class="collapsible-header">
        <span *ngIf="game.playerBlack" class="new badge {{model.colors.badge_player_bottom_black}}" data-badge-caption="">{{game.playerBlack.nbPawns}}</span>
        <span *ngIf="game.playerWhite" class="new badge {{model.colors.badge_player_top_white}}" data-badge-caption="">{{game.playerWhite.nbPawns}}</span>


        <i class="material-icons"
           [ngClass]="gamesClasses(game)"
        >
          {{model.icons.game_icon}}
        </i>
        {{ game.dateFormat }}
      </div>


      <div class="collapsible-body">
        <div class="row collapsible-body-row">
          <div class="col s3 valign center-align">
            <a *ngIf="game.playerWhite" class="btn-floating btn-large waves-effect waves-light tooltipped {{model.colors.player_top_white}}">
              {{ game.playerWhite.nbPawns }}
            </a>
            <p>{{game.playerWhite.name}}</p>
          </div>
          <div class="col s6 valign center-align">
            <div class="board-pattern valign center-align">
              <a class="btn-floating waves-effect btn-play hoverable {{model.colors.play_button_background}} tooltipped"
                 materialize="tooltip" data-position="bottom" [attr.data-tooltip]="model.vocabulary.play"
                 [routerLink]="model.urls.game(game.token)"
              >
                <i class="material-icons right {{ model.colors.play_button_color }}">{{model.icons.play_icon}}</i>
              </a>
            </div>
          </div>
          <div class="col s3 valign center-align">
            <a *ngIf="game.playerBlack" class="btn-floating btn-large waves-effect waves-light tooltipped {{model.colors.player_bottom_black}}">
              {{ game.playerBlack.nbPawns }}
            </a>
            <p>{{game.playerBlack.name}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col s11"></div>
          <div class="col s1">
            <a (click)="deleteGame(game.token); false;" class="btn-floating btn-small waves-effect {{model.colors.delete_button_background}}"><i
              class="material-icons {{model.colors.delete_button_color}}">{{model.icons.delete_icon}}</i></a>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <div *ngIf="games && !error && currentGames.length == 0" class="row center-align">
    <a [routerLink]="model.urls.new()" class="waves-effect waves-light btn red"><i
      class="material-icons right">{{model.icons.new_icon}}</i>{{model.vocabulary.new_game_long}}</a>
  </div>

  <!-- ENDED GAMES -->
  <h2 *ngIf="games && endedGames != null && endedGames.length > 0" class="header {{model.colors.navbar_background_as_text}}">Ended games</h2>
  <ul *ngIf="games && endedGames != null && endedGames.length > 0" style="margin-bottom:50px" materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
    <li *ngFor="let game of endedGames">

      <div class="collapsible-header">
        <span *ngIf="game.playerBlack" class="new badge {{model.colors.badge_player_bottom_black}}" data-badge-caption="">{{game.playerBlack.nbPawns}}</span>
        <span *ngIf="game.playerWhite" class="new badge {{model.colors.badge_player_top_white}}" data-badge-caption="">{{game.playerWhite.nbPawns}}</span>


        <i class="material-icons"
           [ngClass]="gamesClasses(game)"
        >
          {{model.icons.game_icon}}
        </i>
        {{ game.dateFormat }}
      </div>


      <div class="collapsible-body">
        <div class="row collapsible-body-row">
          <div class="col s3 valign center-align">
            <a *ngIf="game.playerWhite" class="btn-floating btn-large waves-effect waves-light tooltipped {{model.colors.player_top_white}}">
              {{ game.playerWhite.nbPawns }}
            </a>
            <p>{{game.playerWhite.name}}</p>
          </div>
          <div class="col s3 offset-s6 valign center-align">
            <a *ngIf="game.playerBlack" class="btn-floating btn-large waves-effect waves-light tooltipped {{model.colors.player_bottom_black}}">
              {{ game.playerBlack.nbPawns }}
            </a>
            <p>{{game.playerBlack.name}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col s11"></div>
          <div class="col s1">
            <a (click)="deleteGame(game.token); false;" class="btn-floating btn-small waves-effect {{model.colors.delete_button_background}}"><i
              class="material-icons {{model.colors.delete_button_color}}">{{model.icons.delete_icon}}</i></a>
          </div>
        </div>
      </div>
    </li>
  </ul>



  <div *ngIf="error || loading" class="flex error">
    <div *ngIf="loading" class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

    <a *ngIf="error" class="waves-effect waves-light btn {{model.colors.navbar_background}}" (click)="loadGames();">{{model.vocabulary.retry}}</a>
  </div>

  <div *ngIf="games && !error && games.length > 0" class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light {{model.colors.navbar_background}}" [routerLink]="model.urls.new()"><i
      class="material-icons">{{model.icons.new_icon}}</i></a>
  </div>

</div>
