<div class="container">
  <ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
    <li *ngFor="let game of games">


      <div class="collapsible-header">
        <span *ngIf="game.userBlack" class="new badge badge-blue"
              data-badge-caption="">{{game.userBlack.nbPawns}}</span>
        <span *ngIf="game.userWhite" class="new badge badge-red" data-badge-caption="">{{game.userWhite.nbPawns}}</span>


        <i class="material-icons"
           [ngClass]="{ 'grey-text': game.userBlack.nbPawns == game.userWhite.nbPawns, 'red-text': game.userWhite.nbPawns < game.userBlack.nbPawns, 'blue-text': game.userBlack.nbPawns < game.userWhite.nbPawns }"
        >
          videogame_asset
        </i>
        {{ game.dateFormat }}
      </div>


      <div class="collapsible-body">
        <div class="row collapsible-body-row">
          <div class="col s3 valign center-align">
            <a *ngIf="game.userWhite" class="btn-floating btn-large waves-effect waves-light tooltipped red">
              {{ game.userWhite.nbPawns }}
            </a>
            <p>{{game.userWhite.name}}</p>
          </div>
          <div class="col s6 valign center-align">
            <div class="board-pattern valign center-align">
              <a class="btn-floating waves-effect btn-play white tooltipped"
                 materialize="tooltip" data-position="bottom" data-tooltip="Play"
                 [routerLink]="['/dashboard', game.token ]"
              >
                <i class="material-icons right blue-text">play_arrow</i>
              </a>
            </div>
          </div>
          <div class="col s3 valign center-align">
            <a *ngIf="game.userBlack" class="btn-floating btn-large waves-effect waves-light tooltipped blue">
              {{ game.userBlack.nbPawns }}
            </a>
            <p>{{game.userBlack.name}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col s11"></div>
          <div class="col s1">
            <a (click)="deleteGame(game.token); false;" class="btn-floating btn-small waves-effect white"><i
              class="material-icons grey-text">delete</i></a>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <div *ngIf="games && !error && games.length == 0" class="row center-align">
    <a [routerLink]="['/dashboard','new']" class="waves-effect waves-light btn red"><i
      class="material-icons right">add</i>New game</a>
  </div>

  <div *ngIf="error || loading" class="flex error">
    <div *ngIf="loading" class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

    <a *ngIf="error" class="waves-effect waves-light btn red" (click)="loadGames();">Retry</a>
  </div>

  <div *ngIf="games && !error && games.length > 0" class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['/dashboard', 'new']"><i
      class="material-icons">add</i></a>
  </div>

</div>
