span.badge.new.badge-blue::before {
  background-color: #2196F3;
}

span.badge.new.badge-red::before {
  background-color: #F44336;
}

span.badge.new.badge-pink::before {
  background-color: #E91E63;
}

span.badge.new.badge-purple::before {
  background-color: #9C27B0;
}

span.badge.new.badge-deep-purple::before {
  background-color: #673AB7;
}

span.badge.new.badge-indigo::before {
  background-color: #3F51B5;
}

span.badge.new.badge-light-blue::before {
  background-color: #03A9F4;
}

span.badge.new.badge-cyan::before {
  background-color: #00BCD4;
}

span.badge.new.badge-teal::before {
  background-color: #009688;
}

span.badge.new.badge-green::before {
  background-color: #4CAF50;
}

span.badge.new.badge-light-green::before {
  background-color: #8BC34A;
}

span.badge.new.badge-lime::before {
  background-color: #CDDC39;
}

span.badge.new.badge-yellow::before {
  background-color: #FFEB3B;
}

span.badge.new.badge-amber::before {
  background-color: #FFC107;
}

span.badge.new.badge-orange::before {
  background-color: #FF9800;
}

span.badge.new.badge-deep-orange::before {
  background-color: #FF5722;
}

span.badge.new.badge-brown::before {
  background-color: #795548;
}

span.badge.new.badge-grey::before {
  background-color: #9E9E9E;
}

span.badge.new.badge-blue-grey::before {
  background-color: #607D8B;
}

.collapsible-body-row {
  margin-top: 15px;
  margin-bottom: 15px;
}

.board-pattern {
  height: 250px;
  width: 250px;
  margin: auto;

  background-image: -moz-linear-gradient(45deg, #e0e0e0 25%, transparent 25%),
  -moz-linear-gradient(-45deg, #e0e0e0 25%, transparent 25%),
  -moz-linear-gradient(45deg, transparent 75%, #e0e0e0 75%),
  -moz-linear-gradient(-45deg, transparent 75%, #e0e0e0 75%);
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #e0e0e0), color-stop(.25, transparent)),
  -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #e0e0e0), color-stop(.25, transparent)),
  -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #e0e0e0)),
  -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #e0e0e0));

  -moz-background-size: 100px 100px;
  background-size: 100px 100px;
  -webkit-background-size: 100px 101px; /* override value for shitty webkit */

  background-position: 0 0, 50px 0, 50px -50px, 0px 50px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.btn-floating.btn-play {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-floating.btn-play i.material-icons {
  margin: 0;
  font-size: 3rem;
}

.collapsible-body-row .row {
  height: 100%;
}

.row .col.s3 {
  margin-top: 60px;
}
