<nav>
  <div class="nav-wrapper red">
    <ul class="left hide-on-med-and-down">
      <li [routerLink]="['/games']" routerLinkActive="active"><a [routerLink]="['/games']">Games</a></li>
      <li [routerLink]="['/dashboard', 'new']" routerLinkActive="active"><a [routerLink]="['/dashboard', 'new']">New</a>
      </li>

    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a materialize="dropdown" data-activates="dropdown1"><i class="material-icons">more_vert</i></a></li>
    </ul>
  </div>
</nav>

<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
  <li>
    <a>
      <input [(ngModel)]="model.debug" type="checkbox" class="filled-in" id="filled-in-box"/>
      <label for="filled-in-box">Debug</label>
    </a>
  </li>
  <li><a (click)="skip(); false;">Skip</a></li>
  <!--  <li class="divider"></li>-->
</ul>
