<nav>
  <div class="nav-wrapper {{model.colors.navbar_background}}">
    <ul class="left">
      <li [routerLink]="model.urls.games()" routerLinkActive="active"><a [routerLink]="model.urls.games()">{{model.vocabulary.games}}</a></li>
      <li [routerLink]="model.urls.new()" routerLinkActive="active"><a [routerLink]="model.urls.new()">{{model.vocabulary.new_game}}</a>
      </li>

    </ul>
    <ul *ngIf="model && model.token" class="right">
      <li><a materialize="dropdown" data-activates="dropdown1"><i class="material-icons">{{model.icons.more_vert}}</i></a></li>
    </ul>
  </div>
</nav>

<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
  <li>
    <a>
      <input [(ngModel)]="model.debug" type="checkbox" class="filled-in" id="filled-in-box"/>
      <label for="filled-in-box">{{model.vocabulary.debug}}</label>
    </a>
  </li>
  <li><a (click)="skip(); false;">{{model.vocabulary.skip}}</a></li>
  <!--  <li class="divider"></li>-->
</ul>
