<div class="card">
  <div class="card-content" [ngClass]="cardClasses()">

    <div *ngIf="!isEdit" class="flex-left">
      <i class="small material-icons">{{model.icons.player_icon}}</i>
      <span style="margin-left:10px" class="card-title">{{user.name}}</span>
    </div>

    <div *ngIf="isEdit" class="flex-left">
      <i class="material-icons prefix">{{model.icons.player_icon}}</i>
      <input type="text" [(ngModel)]="user.name"/>
      <button (click)="confirm();" class="btn waves-effect waves-light confirm-btn" type="submit" name="action">
        <i class="material-icons right">{{model.icons.edit_icon}}</i>
      </button>
    </div>
  </div>
  <div class="card-action">
    <span [ngClass]="badgeClasses()" class="badge new"
          [attr.data-badge-caption]="model.vocabulary.pawns_no_caps">{{user.nbPawns}}</span>
    <a class="edit"  (click)="edit();"
    [ngClass]="editLinkClasses()"
    >{{model.vocabulary.edit}}</a>
  </div>
</div>
