
<table *ngIf="!model.error && model.game && model.game.board && model.game.board.cells && model.game.board.cells.cells" class="centered center-align">
  <tbody>
  <tr *ngFor="let row of model.game.board.cells.cells">
    <td *ngFor="let cell of row"
        [ngClass]="{
            'grey lighten-2' : !cell.isColorLight,
            'white' : cell.isColorLight,
            'possible-blue': isActive(cell) && isActiveColor1(),
             'possible-red': isActive(cell) && !isActiveColor1()
            }" (click)="move(getMoveFromCell(cell));">

      <a *ngIf="cell.pawn" class="btn-floating btn-medium waves-effect waves-light tooltipped" [ngClass]="{red: cell.pawn.isColorWhite, blue:!cell.pawn.isColorWhite}" (click)="select(cell);">
<!--      materialize="tooltip" data-position="bottom" data-delay="500" data-tooltip="This is not your turn"-->
        <i *ngIf="cell.pawn.isQueen">
          <img src="{{crownIconPath}}"/>
        </i>
      </a>
      <span *ngIf="debug && cell.pawn == null">
        {{ cell.row }}:{{cell.column}}
      </span>


    </td>
  </tr>
  </tbody>
</table>

<div class="flex info">
  <span *ngIf="nextUser">Player turn: {{nextUser}}</span>
  <a class="waves-effect waves-light btn red" (click)="dashboard.createGame();">New game</a>
</div>

<div class="flex error">
  <div *ngIf="model.loading" class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
    </div>
  </div>

  <a *ngIf="model.error" class="waves-effect waves-light btn red" (click)="dashboard.loadGame();">Retry</a>
</div>



